{% extends 'base.html' %}

{% block container %}
    <h1 class="title" align="center" style="font-family:'Helvetica', 'Courier New'; padding-top: 10px;">{% block title %} {{user.username}}'s locations {% endblock %}</h1><br>
    {% if not locs %}
    <h2 align="center">no locations at the moment :(</h2><br>
    {% else %}
    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for loc in locs %}
          <tr>
            <td scope="row"><a href="/map/{{loc.latitude}}/{{loc.longitude}}" data-bs-toggle="tooltip" title="Go to map"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
              </svg></a>
            </td>
            <td>{{loc.latitude}}</td>
            <td>{{loc.longitude}}</td>
            <td scope="row"><a href="/{{user.id}}/{{loc.id}}/remove-location" data-bs-toggle="tooltip" title="Remove this location from map">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
      <div class="container" align="center"><a href="/home">
        <button class="btn btn-secondary" type="submit">Back</button>
        </a>
      </div>
    
{% endblock %}